body{
  background-color: black;
}
.grid{
  width: 300px;
  height: 300px;
  border: solid black 1px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin-top:3%;
}

.grid div {
  width: 20px;
  height: 20px;
}

.invader{
  background-color: purple;
  border-radius: 10px;
}

.shooter{
  background-color: green;
}

.laser{
  background-color: black;
}

.boom{
  background-color: red;
}

h1{
  margin-top:5%;

  font-size: 3.1rem;
  font-weight: bold;
  color: white;
}

p{
  color: white;

}
